<h1>Account confirmation: change email</h1>

<p>Please update your email address.</p>

<%= form_with url: update_email_confirmations_path, method: :put do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, value: @email, inputmode: 'email', autocomplete: 'email' %>
  </p>

  <p>
    <%= f.submit 'Update my email address and send me a new confirmation email' %>
  </p>
<% end %>
