<h1>Confirm account</h1>

<%= form_with url: confirmation_path(params[:token]), method: :put do |f| %>

  <p>
    <label>Please click the button to confirm your account:</label>
    <%= f.submit %>
  </p>

<% end %>
