<h1>Account confirmation</h1>

<% if @account %>
  <p>We have sent an email to <%= @account.model.email %>.</p>

  <p>Wrong address?  <%= link_to 'Change it', edit_email_confirmations_path %>.</p>

  <p>Didn't receive it?  <%= button_to 'Get another one', resend_confirmations_path %></p>

<% else %>
  <p>We have sent an email to you.</p>

  <p><%= link_to 'Request a new email', new_confirmation_path %></p>
<% end %>
