<h1>Account confirmation</h1>

<p>We have sent a confirmation code to <%= @account.model.email %>.</p>

<!-- flash could go here -->

<%= form_with url: confirm_path, method: :post do %>
  <p>
    <label for="otp">Your confirmation code:</label>
    <input
        name="otp"
        id="otp"
        type="text"
        inputmode="numeric"
        pattern="\d*"
        autofocus="true"
        autocomplete="one-time-password"
        maxlength="6">
  </p>

  <p>
    <button type="submit">Confirm me!</button>
  </p>
<% end %>

<p>
  <%= button_to "Send me a new confirmation code", send_confirmation_path %>
</p>
